*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;

  &--nav {
    max-width: 1230px;
    margin: 0 auto;
  }
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.main-body {
  position: relative;
}
