<!-- ------------------------ Portfolio-cards-section---------------------- -->
<!-- <section class="portfolio-cards-section">
      <div class="container">
        <h2 class="portfolio-cards__heading">
          NOTRE SÉLECTION<span class="text-reg">IMMOBILIER NEUF</span>
        </h2>
        <div class="portfolio-cards-wrapper">
          <div class="portfolio-card">
            <div class="portfolio-card__image">
              <img src="assets/images/building_1.jpg" alt="" />
              <div class="portfolio-card__icon">
                <div class="icon icon--triangle icon--triangle-primary">
                  <img
                    class="icon icon--star"
                    src="assets/images/star-icon-white.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="portfolio-card__overlay">
                <div class="portfolio-card__overlay-content">
                  <div class="overlay-text portfolio-card__overlay-text">
                    <p>VOIR EN DÉTAIL</p>
                  </div>
                  <div class="overlay-text portfolio-card__overlay-text-2">
                    <p>Ajouter aux favoris</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-card__content">
              <h5 class="portfolio-card__heading">
                PROGRAMME NEUF AIX-LES-BAINS
              </h5>
              <p class="portfolio-card__description text-light">
                Vente Appartement, 90 m2, 4 pièces
              </p>
              <span class="portfolio-card__price">420 000 €</span>
            </div>
          </div>

          <div class="portfolio-card">
            <div class="portfolio-card__image">
              <img src="assets/images/building_1.jpg" alt="" />
              <div class="portfolio-card__icon">
                <div class="icon icon--triangle icon--triangle-primary">
                  <img
                    class="icon icon--star"
                    src="assets/images/star-icon-white.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="portfolio-card__overlay">
                <div class="portfolio-card__overlay-content">
                  <div class="overlay-text portfolio-card__overlay-text">
                    <p>VOIR EN DÉTAIL</p>
                  </div>
                  <div class="overlay-text portfolio-card__overlay-text-2">
                    <p>Ajouter aux favoris</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-card__content">
              <h5 class="portfolio-card__heading">
                PROGRAMME NEUF AIX-LES-BAINS
              </h5>
              <p class="portfolio-card__description text-light">
                Vente Appartement, 90 m2, 4 pièces
              </p>
              <span class="portfolio-card__price">420 000 €</span>
            </div>
          </div>

          <div class="portfolio-card">
            <div class="portfolio-card__image">
              <img src="assets/images/building_1.jpg" alt="" />
              <div class="portfolio-card__icon">
                <div class="icon icon--triangle icon--triangle-primary">
                  <img
                    class="icon icon--star"
                    src="assets/images/star-icon-white.svg"
                    alt=""
                  />
                </div>
              </div>
              <div class="portfolio-card__overlay">
                <div class="portfolio-card__overlay-content">
                  <div class="overlay-text portfolio-card__overlay-text">
                    <p>VOIR EN DÉTAIL</p>
                  </div>
                  <div class="overlay-text portfolio-card__overlay-text-2">
                    <p>Ajouter aux favoris</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="portfolio-card__content">
              <h5 class="portfolio-card__heading">
                PROGRAMME NEUF AIX-LES-BAINS
              </h5>
              <p class="portfolio-card__description text-light">
                Vente Appartement, 90 m2, 4 pièces
              </p>
              <span class="portfolio-card__price">420 000 €</span>
            </div>
          </div>
        </div>
      </div>
    </section> -->

<!-- Features-Cards ---- -->
<!-- <h2 class="feature-cards__heading">
            SELECTNEUF <span class="text-reg">VOUS ACCOMPAGNE</span>
          </h2>
          <div class="feature-cards-wrapper">
            <div class="feature-card">
              <div class="feature-card__image">
                <img src="assets/images/programmes_cibles.svg" alt="" />
              </div>
              <div class="feature-card__content">
                <h3 class="feature-card__heading">PROGRAMMES CIBLÉS</h3>
                <p class="feature-card__description">
                  Nous étudions avec vous vos besoinspour vous proposer des
                  programmesadaptés.
                </p>
                <a href="#" class="btn btn--primary-light">en savoir plus</a>
              </div>
            </div>

            <div class="feature-card">
              <div class="feature-card__image">
                <img src="assets/images/demarches_simplifiees.svg" alt="" />
              </div>
              <div class="feature-card__content">
                <h3 class="feature-card__heading">DÉMARCHES SIMPLIFIÉES</h3>
                <p class="feature-card__description">
                  Nous vous accompagnons dansvotre parcours dachat et
                  simplifionsvos démarches.
                </p>
                <a href="#" class="btn btn--primary-light">en savoir plus</a>
              </div>
            </div>

            <div class="feature-card">
              <div class="feature-card__image">
                <img src="assets/images/accompagnement_personnalise.svg" alt="" />
              </div>
              <div class="feature-card__content">
                <h3 class="feature-card__heading">ACCOMPAGNEMENT PERSONNALISÉ</h3>
                <p class="feature-card__description">
                  Nous sommes à vos côtés, de larecherche du meilleur bien
                  jusquàla signature chez le notaire.
                </p>
                <a href="#" class="btn btn--primary-light">en savoir plus</a>
              </div>
            </div>
            <div class="feature-card">
              <div class="feature-card__image">
                <img src="assets/images/programmes_cibles.svg" alt="" />
              </div>
              <div class="feature-card__content">
                <h3 class="feature-card__heading">PROGRAMMES CIBLÉS</h3>
                <p class="feature-card__description">
                  Nous étudions avec vous vos besoinspour vous proposer des
                  programmesadaptés.
                </p>
                <a href="#" class="btn btn--primary-light">en savoir plus</a>
              </div>
            </div>
          </div> -->

<!-- -------------------------- Media Card------------------- -->
<!-- <div class="media-card">
      <div class="media-card__image">
        <img src="assets/images/home-icon.svg" alt="" />
      </div>
      <div class="media-card__content">
        <h3 class="media-card__heading">ACQUISITION ENCADRÉE</h3>
        <p class="media-card__description text-light">
          Acheter du neuf c’est faire une acquisition très encadrée légalement
          avec un paiement échelonné.
        </p>
      </div>
      <div class="media-card__icon">
        <img src="assets/images/next_arrow_icon.svg" alt="" />
      </div>
    </div> -->

<!-- <div class="image-overlay">
      <img src="assets/images/happy_family.jpg" alt="" />
      <div class="image-overlay__content">
        <h3 class="image-overlay__heading">
          PRÊT À TAUX 0%
          <div class="text-reg-it">ÊTES-VOUS ÉLIGIBLE ?</div>
        </h3>
        <div class="overlay-text--light">FAIRE UNE SIMULATION EN LIGNE</div>
      </div>
    </div> -->

<!-- ------------ Post Card ----------------- -->
<!-- <a href="#" class="post-card--link">
      <div class="post-card">
        <div class="post-card__content">
          <h3 class="post-card__heading">
            CONSEILLER/MANAGER IMMOBILIER NEUF INDÉPENDANT (H/F)
            <span class="text-light"> RÉGION : PARIS & ILE DE FRANCE </span>
          </h3>
        </div>
        <div class="post-card__cta">
          <span class="post-card__text">20 postes à pourvoir</span>
          <button class="btn btn--secondary btn--icon">
            VOIR LA FICHE
            <img
              class="icon icon--btn"
              src="assets/images/next_page_icon.svg"
              alt=""
            />
          </button>
        </div>
        <div class="overlay-text post-card__overlay-text">
          <span>20/06</span>
        </div>
      </div>
    </a> -->

<!-- <div class="input-group input-group--primary">
      <div class="input-icon">
        <img src="assets/images/key_chain_icon.svg" alt="" />
      </div>
      <input class="input" type="text" placeholder="Ville / CP" />
    </div>

    <div class="input-group input-group--secondary">
      <div class="input-icon">
        <img src="assets/images/key_chain_icon.svg" alt="" />
      </div>
      <input class="input" type="text" name="" id="" placeholder="Ville / CP" />
    </div>

    <div class="input-group input-group--primary">
      <div class="input-icon">
        <img src="assets/images/key_chain_icon.svg" alt="" />
      </div>
      <select
        class="input input--dropdown"
        name="Type de bien"
        id="Type de bien"
      >
        <option value="Type de bien">Type de bien</option>
        <option value="Type de bien">Type de bien</option>
        <option value="Type de bien">Type de bien</option>
      </select>
    </div> -->

<!-- <div class="border"></div> -->

<!----------------------- Profile-card --------------------------- -->
<!-- <div class="profile-card">
      <div class="profile-card__content">
        <div class="profile-card__image">
          <img src="assets/images/christophe_di.jpg" alt="" />
        </div>
        <div class="profile-card__content-text">
          <h3 class="profile-card__title">
            CHRISTOPHE DI MARINO
            <span class="text-light">CONSEILLER</span>
          </h3>
          <div class="media-inline__location">
            <div class="media-inline">
              <div class="media-inline__image">
                <img src="assets/images/navigation_blue_icon.svg" alt="" />
              </div>
              <div class="media-inline__content">
                <p class="media-inline__text">Bordeaux</p>
              </div>
            </div>
            <p class="text-light">RSAC : 512 509 845 00014</p>
          </div>
        </div>
      </div>
      <div class="profile-card__contacts">
        <div class="media-inline media--profile">
          <div class="media-inline__image">
            <img src="assets/images/receiver_blue_icon.svg" alt="" />
          </div>
          <div class="media-inline__content">
            <p class="media-inline__text-big">06.62.44.10.60</p>
          </div>
        </div>

        <div class="profile-card__icons">
          <div class="icon icon--primary icon--profile">
            <img class="icon__image" src="assets/images/mail-icon.svg" alt="" />
          </div>
          <div class="icon icon--secondary icon--profile">
            <img class="icon__image" src="assets/images/user_icon.svg" alt="" />
          </div>
        </div>
      </div>
    </div> -->
