<!-------------------- Collapsible------------------>
<!-- 
    <div class="collapsible">
      <div class="collapsible__header">
        <h5 class="collapsible__heading">t2</h5>
        <img
          class="icon--collapsible collapsible__icon"
          src="assets/images/dropdown_white_icon.svg"
          alt=""
        />
      </div>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor
        sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem
        ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum
        dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
        amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum
        dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit
        amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
      </div>
    </div> -->
