<!-- ------------------------- Image - Popup ----------------------------- -->
<!-- <div class="popup">
        <div class="popup__content">
            <div class="popup__image-wrapper">
                <img class="popup__image popup__btn" src="assets/images/gallery-image.jpg" alt="">
                <div class="popup__close-icon">
                    <img src="assets/images/cancel_white_icon.svg" alt="">
                </div>
            </div>
            <div class="icon-container--zoom popup__icon popup__btn">
                <img class="icon--zoom" src="assets/images/search_icon.svg" alt="">
            </div>
        </div>
    </div> -->
