<!-- ------------ Overlay-text ----------------- -->
<!-- <div class="overlay-text">
      <p>hello</p>
    </div> -->

<!-- ------------ Icon Button ----------------- -->
<!-- <button class="btn btn--secondary btn--icon">
      VOIR LA FICHE
      <img
        class="icon icon--btn"
        src="assets/images/next_page_icon.svg"
        alt=""
      />
    </button> -->

<!-- ------------------ Image-Overlay  --------------------------- -->
<!-- <div class="cta-section__image">
      <div class="image-overlay">
        <img src="assets/images/happy_family.jpg" alt="" />
        <div class="image-overlay__content">
          <h3 class="image-overlay__heading">
            PRÊT À TAUX 0%
            <div class="text-reg-it">ÊTES-VOUS ÉLIGIBLE ?</div>
          </h3>
          <div class="overlay-text--light cta-section">
            FAIRE UNE SIMULATION EN LIGNE
          </div>
        </div>
      </div>
    </div> -->
