<!-------------------- Collapsible-Table ------------------>
<!-- <div class="collapsible-table">
      <div class="collapsible collapsible--expanded">
        <div class="collapsible__header">
          <h5 class="collapsible__heading">t2</h5>
          <img
            class="icon--collapsible collapsible__icon"
            src="assets/images/dropdown_white_icon.svg"
            alt=""
          />
        </div>
        <div class="collapsible__content">
          <table class="table">
            <tr class="table__heading-row">
              <th class="table__heading">TYPE DE BIEN</th>
              <th class="table__heading">SURFACE</th>
              <th class="table__heading">ÉTAGE</th>
              <th class="table__heading">PRIX</th>
            </tr>
            <tr class="table__row">
              <td class="table__data">APPARTEMENT</td>
              <td class="table__data">40 M2</td>
              <td class="table__data">RDC</td>
              <td class="table__data">260 000 €</td>
            </tr>
            <tr class="table__row">
              <td class="table__data">APPARTEMENT</td>
              <td class="table__data">48 M2</td>
              <td class="table__data">1</td>
              <td class="table__data">280 000 €</td>
            </tr>
            <tr class="table__row">
              <td class="table__data">APPARTEMENT</td>
              <td class="table__data">54 M2</td>
              <td class="table__data">2</td>
              <td class="table__data">300 000 €</td>
            </tr>
          </table>
        </div>
      </div>
    </div> -->

<!-------------------- Location Table ------------------>
<!-- <div class="location-table">
      <div class="location-table__text">
        <h2 class="location-table__heading">
          SITUATION <span class="text-reg">GÉOGRAPHIQUE</span>
        </h2>
        <h3 class="location-table__sub--heading">BORDEAUX - CENTRE VILLE</h3>
      </div>
      <div class="location-table__content">
        <div class="location-box">
          <h5 class="location-box__heading">densite de population</h5>
          <span class="location-box__text">9 430 H/KM²</span>
        </div>
        <div class="location-box">
          <h5 class="location-box__heading">densite de population</h5>
          <span class="location-box__text">9 430 H/KM²</span>
        </div>
        <div class="location-box">
          <h5 class="location-box__heading">densite de population</h5>
          <span class="location-box__text">9 430 H/KM²</span>
        </div>
        <div class="location-box">
          <h5 class="location-box__heading">densite de population</h5>
          <span class="location-box__text">9 430 H/KM²</span>
        </div>
        <div class="location-box">
          <h5 class="location-box__heading">densite de population</h5>
          <span class="location-box__text">9 430 H/KM²</span>
        </div>
      </div>
    </div> -->

<!-------------------- Table ------------------>

<!-- <table class="table">
      <tr class="table__heading-row">
        <th class="table__heading">TYPE DE BIEN</th>
        <th class="table__heading">SURFACE</th>
        <th class="table__heading">ÉTAGE</th>
        <th class="table__heading">PRIX</th>
      </tr>
      <tr class="table__row">
        <td class="table__data">APPARTEMENT</td>
        <td class="table__data">40 M2</td>
        <td class="table__data">1</td>
        <td class="table__data">280 000 €</td>
      </tr>
    </table> -->
