.gallery-section {
  @include mediaManager(640px) {
    display: none;
  }

  padding: 51px 0;
  &__content {
    display: flex;
    justify-content: space-between;

    @include mediaManager(1220px) {
      padding: 0 15px;
    }

    @include mediaManager(970px) {
      flex-direction: column;
    }
  }

  &__main {
    width: 63.5%;

    @include mediaManager(970px) {
      width: 100%;
    }
  }

  &__aside {
    width: 33.5%;

    @include mediaManager(970px) {
      width: 100%;
    }
  }

  &__media {
    background-color: $color-light-grey;
    padding: 27px 5px 31px 46px;
    margin-bottom: 28px;

    &-item .media-inline__content {
      margin-left: 15px;
    }
  }

  &__card {
    @include mediaManager(970px) {
      width: 50%;
    }

    @include mediaManager(768px) {
      width: 80%;
    }
  }

  &__btn-group {
    margin-bottom: 28px;
  }

  &__btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__media-text {
    font-family: "DIN Pro";
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }

  &__media-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
