.nav {
  background-color: $color-white;
  padding: 15.5px 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrapper {
    transform: translateY(3px);

    & a {
      display: inline-block;
    }

    & img {
      max-width: 100%;
      vertical-align: middle;
    }
  }

  &__menu-wrapper {
    display: flex;
    display: none;
  }

  &__icons-group {
    display: flex;
    margin-right: 25px;
  }

  &__icon {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__dropdown-btn {
    display: flex;
    align-items: center;
  }

  &__dropdown-icon {
    margin-left: 5px;
    display: none;
  }

  &__btn {
    padding: 10px 30px 9px 29px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__list-wrapper {
    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 10px;

    &-item {
      position: relative;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 19.5px;
      }
    }

    &-item::after {
      content: "";
      position: absolute;
      width: 0;
      bottom: -15px;
      bottom: -26%;
      height: 2px;
      left: 0;
      right: 0;
      background-color: $color-secondary;
      transition: all 0.3s;
    }

    &-item:hover::after {
      width: 100%;
    }

    &-item a {
      color: $color-primary;
      padding: 20px;
      display: inline-block;
    }
  }

  @include mediaManager(1080px) {
    &__list-item {
      &:not(:last-child) {
        margin-right: 10px;
      }

      & a {
        padding: 20px 10px;
      }
    }
  }

  @include mediaManager(970px) {
    &__last-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__btn {
      padding: 10px 15px;
    }
  }

  // * ------------------------- Laptop - Breakpoints --------------------------
  @include mediaManager(900px) {
    position: relative;

    &__list {
      margin-right: 0;
    }

    &__list-item {
      &:not(:last-child) {
        margin-right: 0;
      }

      & a {
        width: 100%;
      }
    }

    &__logo {
      transform: translateY(0px);
    }

    &__menu-wrapper {
      display: flex;
    }
  }

  // * ------------------------- Mobile - Breakpoints --------------------------
  @include mediaManager(640px) {
    padding: 15px 0;
  }
}

// * ------------------------- Dropdown - Styles ----------------------

.dropdown {
  position: relative;

  &__heading {
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__content-wrapper {
    padding: 20px;
  }

  &__content {
    background-color: $color-secondary;
    min-width: 280px;
    position: absolute;
    top: 73px;
    left: 0;
    max-height: 0;
    transition: all 0.3s;
    overflow: hidden;
    color: $color-white;
    z-index: 99;
    cursor: default;

    &-list {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__item a {
    color: $color-white;
    font-size: 15px;
    transition: all 0.3s;
    padding: 12px;
    width: 100%;

    &:hover {
      color: rgba($color-white, 0.75);
    }
  }
}

.dropdown:hover .dropdown__content {
  max-height: 100vh;
}

@include mediaManager(900px) {
  .nav__dropdown-icon {
    margin-left: 5px;
    display: flex;
  }

  .nav {
    &__list-wrapper {
      position: absolute;
      right: 0;
      top: 100%;
      bottom: 0;
      overflow: auto;
      width: 100%;
      height: 0vh;
      opacity: 0;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      background-color: #fff;
      flex-direction: column;
      z-index: 29;
      border: 1px solid red;
    }

    &__list-item::after {
      display: none;
    }

    &-item:hover::after {
      display: none;
    }

    &__dropdown-btn {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      padding: 25px 15px;
      width: 100%;

      &-item {
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }

    &__btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .nav-active .nav__list-wrapper {
    overflow: auto;
    height: 100vh;
    opacity: 1;
    border: 1px solid red;
  }

  .dropdown:hover .dropdown__content {
    max-height: 0;
    pointer-events: none;
    pointer-events: unset;
    transition: all 0.5s;
  }

  .nav__dropdown-icon {
    transform: rotate(-90deg);
    transition: all 0.3s;
  }

  .dropdown.dropdown.dropdown-active .nav__dropdown-icon {
    transform: rotate(0);
  }

  .dropdown.dropdown-active .dropdown__content {
    max-height: 100vh;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    &__content {
      width: 100%;
      position: static;
    }
  }
}
