.notification {
  background-color: $color-primary;
  color: $color-white;
  position: relative;
  padding: 19px 15px;
  @include mediaManager(640px) {
    display: none;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 20px;
  }

  &__text {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

@include mediaManager(1000px) {
  .notification {
    background-color: $color-primary;
    color: $color-white;
    position: relative;
    padding: 20px 15px;

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      width: 90%;
      text-align: left;
    }
  }
}
